:root {
  --primary-color: #0e0707;
  --secondary-color: #b9ecb9;
  --accent: #000000;
  --font-family-heading: 'Outfit', sans-serif;
  --font-family-body: 'Nunito', sans-serif;



}

#hamburger-menu {
  display: none;
  /* Hidden by default */
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: var(--primary-color);
  z-index: 10;

}



div#recipe-section {
  background: linear-gradient(to top, var(--secondary-color), rgba(230, 229, 229, 0.067));
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  padding-bottom: 100px;



}

html {
  overflow-y: scroll;
}

.summary {
  line-height: 1.5;
}

.card {
  width: 100%;
  height: auto;
  max-width: 600px;
  margin: 0 auto;
  box-shadow: 10px 10px 8px rgb(185, 119, 57);
  padding: 20px;
  background-color: rgb(230, 225, 217);
  margin-top: 20px;
  border-radius: 15px;
  min-height: 500px;
}



.logo {
  box-shadow: 5px 4px 8px black;
}

div.page {
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  width: 300px;
}

#page-numbers {
  display: flex;
  justify-content: center;
  font-weight: bolder;
  min-width: 150px;
}

.page a {
  background-color: #FFFDD0;
  padding: 7px;
  border: solid 2px black;
  text-decoration: none;
  font-weight: bolder;
  color: black
}

.page a:hover {
  background-color: #b9ecb9;
  border: solid black 2px;
  transform: scale(1.2);
  cursor: pointer;
}

.card-flip {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1;
  perspective: 1000px;
  position: relative;
  margin-bottom: 20px;


}

div.allergies {
  display: grid;
  grid-template-columns: auto auto;
  gap: 5px;
}

div.allergies p {
  background-color: white;
  padding: 5px;
  border: 5px solid lightblue;
  border-radius: 10px;
  font-weight: bolder;
}







.card-flip-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;

}

.card-flip:hover .card-flip-inner {
  transform: rotateY(180deg);
}

.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(226, 186, 112);

}

.modal-inner {
  background-color: rgb(230, 225, 217);
  margin: 15% auto;
  padding: 10px;
  border-radius: 10px;
  width: 300px;
  position: relative;
  animation: fadeIn 0.3s ease-in-out;
  box-shadow: 10px 10px 8px rgb(185, 119, 57);
  padding: 20px;
}

.modal-img {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
}

.ingredients::before {
  content: "👱 ";
  font-size: 25px;
}

#search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
}

#search-container input {
  width: 50%;
  height: 25px;

}


#search-container button {
  height: 32px;
  margin-left: 5px;
  width: 25%;
  height: 30px;
  background-color: #FFFDD0;

}




#search-container button:hover {
  background-color: #b9ecb9;
  border: solid black 2px;
  transform: scale(1.2);
  cursor: pointer;
}

.serving::before {
  content: "📗 ";
  font-size: 25px;
}

.time::before {
  content: "⏱️ ";
  font-size: 25px;
}


.info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 30px;
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}



@keyframes linkIn {
  from {
    opacity: 0;
    font-size: 10px;
  }

  to {
    opacity: 1;
    font-size: 25px;
  }
}

div.card-flip-inner {
  z-index: 3;
}

div.card-flip-back {
  z-index: 2;
}


#recipe-section,
.card-flip-back {
  position: absolute;
  width: 100%;
  height: 150px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-flip:hover {
  z-index: 10;
}

button:disabled {
  background-color: #ccc;
  color: grey;
  opacity: 0.6;
}

#recipe-section {
  background: radial-gradient(circle, var(--secondary-color), rgba(230, 229, 229, 0.067));
  color: black;
  z-index: 2;
  min-height: 500px;
  position: relative;
}

.card-flip-back {
  color: white;
  z-index: 3;
  transform: rotateY(180deg);
  margin-bottom: 100px;
  background-color: #1e3a8a;
  color: #ffffff;
  z-index: 3;
  font-size: 14px;
  font-weight: bold;
}

h1 {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}

footer {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  background-color: var(--secondary-color);
  border-top: 5px solid black;
  padding: 20px;
}

.recipe-card {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: #f2e9f7;
  position: relative;
  z-index: 2;

}

.recipe-card h2 {
  font-size: 15px;
  font-weight: bolder;
  padding: 10px;

}

.recipe-card p {
  font-size: 13px;
  font-weight: bolder;
  padding: 0px 10px;
}

.likes {
  padding: 10px;
}

.recipe-card img {
  width: 100%;
  height: auto;
  display: block;
  box-shadow: 10px 10px 8px black;
}

.recipe-card img:hover {
  box-shadow: -10px 0px 10px 0 black;
  transition: box-shadow 0.5s ease 0.3s
}

.card-flip-back {
  box-shadow: 10px 10px 8px black
}



body {
  margin: 0 auto;
  font-family: var(--font-family-body);
  color: var(--primary-color);
}

header {
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 5px solid black;


}

#recipeContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: linear-gradient(to top, rgb(226, 186, 112), rgba(230, 229, 229, 0.067));


}

p.summary {
  min-height: 200px;
  min-width: 50px;
}

.ingredient {
  display: flex;
  flex-direction: column;
  font-weight: bolder;
  justify-content: space-between;
  margin: 0 auto;
  background-color: white;
  padding: 5px;
  border: 5px solid lightblue;
  border-radius: 10px;
  font-weight: bolder;
  margin: 2px;
}

#ingredientContainer {
  display: flex;
  margin: 0 auto;
  padding: 0px;
}

ul#ingredientContainer {
  margin: 0;
}



h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-heading);
}

ul {
  display: flex;
  flex-direction: row;
}

.link {


  justify-content: space-around;
  padding: 20px;
  text-decoration: none;
  color: var(--accent);
  font-weight: 600;

}

ul li {
  list-style-type: none;
  text-align: center;
}




#hamburger-x {
  display: inline;
}

#hamburger-equal {
  display: none;
}

.hidden {
  display: none;
}


.link:hover {
  color: red;
  transform: scale(1.2);
  border: solid 2px black;
  animation: linkIn 1s ease;
}

.a:hover {
  animation: linkIn 3s ease;
}

@media (max-width: 600px) {
  footer {
    flex-direction: column;
    padding: 15px;
  }

  #hamburger-menu {
    display: block;
    /* Show the hamburger menu on smaller screens */
  }

  nav li {
    padding-top: 30px;
  }


  .nav ul {
    display: none;
    /* Hide the navigation menu by default */
    flex-direction: column;
  }

  .nav ul.menu-active {
    display: flex;
    /* Show the navigation menu when active */
  }

  nav#nav-menu.nav {
    display: flex;
    flex-direction: column;
  }

  ul.menu-active {
    padding: 0px;
  }

  div.social-media {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  div#header-section {
    display: flex;
    flex-direction: column;
  }

  ul.menu-active {
    padding: 0px;
  }

  #search-container {
    flex-direction: column;
    justify-content: space-around;
  }

  #header {
    display: flex;
    flex-direction: column;
  }


  .social-media {
    gap: 10px;
  }

  .hidden {
    display: none;
  }


  .social-media img.social-icon {
    width: 25px;
    height: 25px;
  }
}